table {
  margin-top: 15px;
}

.img-circle {
  max-height: 50px;
}

td {
  vertical-align: middle;
}

.bs-danger {
  color: #fff;
  background-color: #df382c;
  border-color: #df382c;
}

.bs-danger:hover {
  color: #fff;
  background-color: #be3025;
  border-color: #b22d23;
}

